@import "container";


.deliv{
    width: 1296px;
    height: 173px;
    background-color: #5A5AC9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 45px 18px;
    margin: 80px 111px;

    &__item{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;


        &--img{
            width: 56px;
            height: 45px;
        }

        &--wrap{

            display: flex;
            flex-direction: column;

            &__heading{
                color: white;
            }

            &__text{
                color: white;
            }
        }
    }
}